[submodule "js/lib/enml-js"]
	path = js/lib/enml-js
	url = https://github.com/EverythingMe/enml-js.git
[submodule "js/lib/evernote"]
	path = js/lib/evernote
	url = https://github.com/EverythingMe/evernote-sdk-js.git
